@media only screen and (max-width: 1200px) {
  .subheading,
  h1 {
    font-size: 50px;
    line-height: 70px;
  }
  .banner h1 > span::after {
    top: 58px;
  }
  .animate-round {
    height: 120px;
    width: 120px;
  }
  .animate-round .txt-bx span {
    font-size: 14px;
    line-height: 17px;
  }
  .banner .card-wrap .pt img {
    width: 100%;
  }
  .spending-achieve h3 {
    font-size: 36px;
    line-height: 44px;
  }
  .discover-application h3 {
    font-size: 26px;
    line-height: 37px;
    text-align: center;
  }
  .discover-application .d-content p {
    text-align: center;
    margin: auto;
  }
  .discover-application .d-wrap {
    padding: 0 0px 30px;
  }
  .discover-application .d-content,
  .discover-application .d-btn-wrap {
    width: 100%;
    justify-content: center;
  }
  .discover-application .contact-bx h4 {
    font-size: 18px;
    margin-bottom: 3px;
  }
  footer .widget-wrap .widget-one {
    width: 30%;
  }
  footer .widget-wrap .widget-three {
    width: 23%;
  }
  .achieve-goal .content-bx h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .spending-achieve .box strong {
    font-size: 22px;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 992px) {
  @keyframes bounce {
    0% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  .click-bx > img {
    max-width: 40px;
  }
  .banner .card-wrap .bg-screen {
    width: 100%;
    padding-top: 150px;
  }
  .animate-round {
    height: 100px;
    width: 100px;
  }
  .banner .card-wrap .pt {
    width: 50%;
    order: 1;
  }
  .subheading,
  h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .banner h1 > span::after {
    top: 42px;
  }
  .discover-application .contact-bx .addressbx,
  .discover-application .contact-bx .frm-bx {
    width: 100%;
  }
  .discover-application .contact-bx .wrap {
    gap: 20px;
  }
  .subheading,
  h1,
  .spending-achieve h3 {
    font-size: 32px;
    line-height: 42px;
  }
  .spending-achieve .content-bx,
  .spending-achieve .card-bx {
    width: 100%;
  }
  .spending-achieve .card-wraping {
    gap: 20px;
  }
  .spending-achieve .content-bx > div {
    max-width: 100%;
  }
  .achieve-slider .slider-item {
    padding: 15px 15px;
    min-height: 294px;
  }
  .achieve-slider .slider-item strong {
    font-size: 18px;
    margin: 10px 0;
    line-height: 22px;
  }
  .achieve-slider .slider-item img {
    max-width: 50px;
  }

  footer .widget-wrap .widget-one {
    width: 100%;
  }
  footer .widget-wrap .widget-two {
    width: 20%;
  }
  footer .widget-wrap .widget-three {
    width: 35%;
  }
  footer .widget-wrap .widget-four {
    width: 22%;
  }
  footer .widget-wrap .widget-five {
    width: 23%;
  }
  footer .widget-wrap .widget-one > div {
    max-width: 400px;
    width: 100%;
    margin-block-end: 30px;
  }
  footer .log-wrap h3 {
    font-size: 24px;
  }
  .brand-slide li {
    min-width: 200px;
  }
  .achieve-goal .img-bx,
  .achieve-goal .content-bx {
    width: 100%;
  }
  .achieve-goal .wraping {
    gap: 15px;
  }
  .achieve-goal .main-container {
    padding: 44px 15px 80px;
  }
  .spending-achieve {
    padding: 30px 0px;
  }
  .achieve-goal .goal-details .g-wraping-end {
    width: 30%;
  }
  .achieve-goal .goal-wraping {
    width: calc(70% - 20px);
    padding: 15px;
  }
  .banner .card-wrap .bg-screen img {
    width: 60%;
    margin: auto;
    display: block;
  }
  .banner .click-bx {
    top: 0%;
  }
  .banner .card-wrap .pt {
    padding-bottom: 0;
  }
  .banner {
    padding-block-end: 30px;
  }
  .achieve-slider .main-container {
    padding: 30px 0 30px;
  }
  .banner .click-bx {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
  }
}

@media only screen and (max-width: 768px) {
  footer .widget-wrap .widget-two {
    width: 40%;
  }
  footer .widget-wrap .widget-three {
    width: 60%;
  }
  footer .widget-wrap .widget-four,
  footer .widget-wrap .widget-five {
    width: 50%;
  }
  footer .widget-wrap {
    gap: 30px 0;
  }
  footer .widget-wrap .widget-one > div {
    margin-block-end: 0;
  }
  footer .log-wrap h3 {
    font-size: 22px;
    line-height: 27px;
  }
  footer .log-wrap img {
    max-width: 50px;
  }
  .footer-header > img {
    max-width: 130px;
  }
  .subheading,
  h1,
  .spending-achieve h3 {
    font-size: 28px;
    line-height: 42px;
  }
  .banner h1 > span::after {
    top: 36px;
  }
}

@media only screen and (max-width: 576px) {
  footer .footer-header {
    flex-direction: column;
    margin-block-end: 20px;
  }
  footer .log-wrap h3 {
    font-size: 18px;
    line-height: 25px;
  }
  footer .widget-wrap ul li a {
    font-size: 12px;
  }
  footer .widget-wrap ul li {
    margin-block-end: 0;
  }
  footer .widget-wrap h6 {
    margin-bottom: 4px;
  }
  .discover-application .contact-bx .row-wrap > div {
    width: 100%;
  }
  .discover-application .contact-bx .addressbx .add-bx-wrap {
    gap: 10px;
  }
  .discover-application .contact-bx .row-wrap {
    gap: 15px;
  }
  .discover-application .contact-bx .add-bx-wrap::before,
  .discover-application .contact-bx .add-bx-wrap::after {
    display: none;
  }
  .discover-application .d-btn-wrap {
    padding: 15px 0;
  }
  .discover-application .d-btn-wrap a {
    font-size: 18px;
    padding: 12px 20px;
  }
  .discover-application .d-wrap {
    padding: 0;
  }
  .discover-application .form-row .input-w {
    width: 100%;
  }
  .discover-application .contact-bx {
    padding: 15px 0;
  }
  .brand-slide li {
    padding: 0 30px;
    min-width: 220px;
  }
  .spending-achieve .card-bx .box {
    width: 100%;
  }
  .subheading,
  h1,
  .spending-achieve h3 {
    font-size: 22px;
    line-height: 27px;
  }
  .banner h1 > span::after {
    top: 27px;
  }
  .achieve-goal .goal-wraping {
    width: 100%;
  }
  .achieve-goal .goal-details .g-wraping-end {
    width: 100%;
  }
  .achieve-goal .goal-details .position-img {
    position: static;
  }
  .achieve-goal .main-container {
    padding: 30px 15px 30px;
  }
  .spending-achieve {
    margin-block-start: 30px;
  }
  .discover-application h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .achieve-goal .feature-cart {
    padding: 15px;
  }
  .discover-application {
    padding-block-start: 30px;
  }
  .achieve-slider .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
  }
  .primary-btn {
    font-size: 16px;
    padding: 8px 12px;
}
.discover-application .contact-bx .row-wrap .reach-bx > div img {
  max-width: 20px;
}
}
